body {
  font-family: Arial, sans-serif;
  font-size: 13px;

}



#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 10em;
  margin-top: 16px;
  padding-right: 22px;
  color: #434343;
  
}

#gmail {
  margin-right: 15px;
  padding-bottom: 1px;
}

#gmail a:hover {
  color: #5F6368
}

#images {
  margin-right: 18px;
  padding-bottom: 1px;
}

#images a:hover {
  color: #5F6368
}

#apps .app{
  width: 24px;
  height: 24px;
  padding-top: 2px;
  padding-right: 4px;
}

#apps {
  margin-right: 14px;
  margin-top: 1px;
}

a {
  color: #434343;
  text-decoration: none
}

a:visited {
  color: #434343;
}

a:hover {
  text-decoration: underline
}

#connexion .sign {
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #4285f4;
  line-height: 28px;
  padding: 0px 12px;
  background: #4485F4;
  border-radius: 2px;

}

#connexion .sign:hover {
  box-shadow: 0px 0.3px 1px #4285f4; 
}

main {
  margin-top: 152px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}


#barre {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  height: 44px;
  border: 1px solid #E7E7E7;
  border-radius: 33px;
  user-select: none;
}

.search {
  width: 480px;
  height: 44px;
  font-size: 16px;
  border: none;
  outline:none;

}
.loup{
  opacity: 0.6;
    width: 18px;
    height: auto;
    padding-left: 15px;
    float: left;
    
}

.mic {
    width: 13.5px;
    height: auto;
    margin-right: 18px;
    float: right;
   

}

#barre:hover {
  box-shadow: 0px 1px 4px #C6C6C6;
}


#boutons {
  display: flex;
  flex-direction: row;
  margin-top: 17px;
  margin-right: 2px;

}




.buttonbarre {
    
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 6px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.buttonbarre:hover {
  color: #000;
  border: 1px solid #C6C6C6;
  box-shadow: 0px 0.3px 2px #C6C6C6; 

}

#gestes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

#gestes a {
  color: #0000BC;

}

#gestes img {
  width: 3.5em;
  height: auto;
  margin-right: 10px;
  float: right;
}

footer {
  background-color: #F2F2F2;
  line-height:10px;
  width: 100%;
  font-family: Arial, sans-serif;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 1px solid #E4E4E4;

}

#top {
  border-bottom: 1px solid #E4E4E4;
}

#france {
  padding-left: 30px;
  font-size: 15px;
}

#bottom {
  display: flex;
  font-size: 14px;
  line-height: 40px;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px 30px;
  
  flex-wrap: wrap;
}

#bottom a {
  color: #5F6368;
  text-align: center;
}

#gauche a {
  margin-right: 23px


}

#droite a {
  margin-left: 23px
}

#france {
  color: #888;
}